@model Store.Web.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr--border-top small--hide">



<nav class="breadcrumb-nav small--text-center" aria-label="You are here">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" title="Trang chủ">
            <span itemprop="title">Trang chủ</span>
        </a>
        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
    </span>

    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">

        <a href="/account/index" itemprop="url" title="Tài khoản">
            <span itemprop="tai-khoan.html">Tài khoản</span>
        </a>

        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
    </span>

    Đổi mật khẩu

</nav>

<div class="medium-up--one-whole">
    <div class="contact-form form-vertical medium-up--four-tenths">


        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "error" })
            @Html.AntiForgeryToken()


            @Html.PasswordFor(f => f.OldPassword, new { @placeholder = "Mật khẩu cũ", required = "required" })
            @Html.PasswordFor(f => f.NewPassword, new { @placeholder = "Mật khẩu mới", required = "required" })
            @Html.PasswordFor(f => f.ConfirmPassword, new { @placeholder = "Mật khẩu mới", required = "required" })

            <input type="submit" class="btn" value="Đổi mật khẩu">
        }

    </div>
</div>
